#{extends 'main.html' /}
#{set title:'NetPOEC' /}
<header>
    <div class="col-xs-12"><h1 class="text-center"> NetPoec</h1></div>

</header>
<main class="container col-xs-12 col-md-8 col-md-offset-2 clearfix">
    <div class="row col-xs-12 ">

        <a href="@{controllers.UserController.detailUser()}" class="btn btn-default center-block">Profil</a>
    </div>
    <br/>
    <div class="row col-xs-12 ">
        <a href="/logout"  class="btn btn-default connexion center-block">Déconnexion</a>
    </div>
#{include 'film/films.html' /}

</main>

<footer>

</footer>
