#{extends 'main.html' /}
#{set title:'NetPOEC' /}
<header>
    <div class="col-xs-12"><h1 class="text-center"> NetPoec</h1></div>
    <div class="col-xs-12"><h2 class="text-center">Bonjour ${user.firstName}</h2></div>
</header>

<a href="@{UserController.index()}">&lt; Retour</a>

<main class="container col-xs-12 col-md-8 col-md-offset-2 clearfix">
    <div class="row">
     <ul style="list-style-type: none">
         <li>Prenon: ${user.firstName}</li>
         <li>Nom: ${user.lastName}</li>
         <li>Email: ${user.email}</li>
         <li><a href="#"  class="btn btn-default  center-block col-xs-4" id="btnNewPassword" >Modifier le mot de passe</a></li>
     </ul>
    </div>

    <div id="panelNewPassword">
        <h4>Modifier votre mot de passe</h4>
        <form action="@{UserController.saveNewPassword(user)}" method="post">
            <input type="password" name="password" placeholder="mot de passe">
            <input type="submit" value="Modifier">
        </form>
    </div>
</main>
<footer>

</footer>


#{set 'moreScripts'}
<script>
$( document ).ready(function() {
    $("#btnNewPassword").click(function(e) {
        e.preventDefault();
        $("#panelNewPassword").css("display", "block");

    });

});
</script>
#{/set}